
---
layout: layout.liquid
title: Planetary Playing Cards
---



<h1>Planetary <strong>Playing Cards</strong></h1>

<main>
	<div class="Planet sun">
        <div class="sun"></div>
        <h2>Sun</h2>
        <p>G2V</p>
    </div>
    <div class="planet">
    <div class = "Mercury Circle "></div>
    <p class = "nameofplanet">Mercury</p>
    <p>0.4 AU</p>
  </div>
    {% Planets 'Venus' 'Venus' '0.72 AU' %}
    {% Planets 'Earth' 'Earth' '1.00 AU' %}
    {% Planets 'Mars' 'Mars' '1.52 AU' %}
    {% Planets 'Jupiter' 'Jupiter' '5.20 AU' %}
    {% Planets 'Saturn' 'Saturn' '9.54 AU' %}
    {% Planets 'Uranus' 'Uranus' '19.22 AU' %}
    {% Planets 'Neptune' 'Neptune' '30.06 AU' %}
</main>

