
---
title: Planetary Playing Cards
---



	<div class="Planet sun">
        <div class="sun"></div>
        <h2>Sun</h2>
        <p>G2V</p>
    </div>
    <div class="planet">

      <div class="Mercury circle"></div>

      <h2 class="name">Mercury</h2>

      <p>0.39 AU</p>

    </div>
    <div class="planet">

      <div class="Venus circle"></div>

      <h2 class="name">Venus</h2>

      <p>0.72 AU</p>

    </div>
    <div class="planet">

      <div class="Earth circle"></div>

      <h2 class="name">Earth</h2>

      <p>1.00 AU</p>

    </div>
    <div class="planet">

      <div class="Mars circle"></div>

      <h2 class="name">Mars</h2>

      <p>1.52 AU</p>

    </div>
    <div class="planet">

      <div class="Jupiter circle"></div>

      <h2 class="name">Jupiter</h2>

      <p>5.20 AU</p>

    </div>
    <div class="planet">

      <div class="Saturn circle"></div>

      <h2 class="name">Saturn</h2>

      <p>9.54 AU</p>

    </div>
    <div class="planet">

      <div class="Uranus circle"></div>

      <h2 class="name">Uranus</h2>

      <p>19.22 AU</p>

    </div>
    <div class="planet">

      <div class="Neptune circle"></div>

      <h2 class="name">Neptune</h2>

      <p>30.06 AU</p>

    </div>
