---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary <strong>Playing Cards</strong></h1>

<main>
	<div class="nameofPlanets sun">
        <div class="sun"></div>
        <h2>Sun</h2>
        <p>G2V</p>
    </div>
    {% nameofPlanets 'Mercury' 'Mercury' '0.39 AU' %}
    {% nameofPlanets 'Venus' 'Venus' '0.72 AU' %}
    {% nameofPlanets 'Earth' 'Earth' '1.00 AU' %}
    {% nameofPlanets 'Mars' 'Mars' '1.52 AU' %}
    {% nameofPlanets 'Jupiter' 'Jupiter' '5.20 AU' %}
    {% nameofPlanets 'Saturn' 'Saturn' '9.54 AU' %}
    {% nameofPlanets 'Uranus' 'Uranus' '19.22 AU' %}
    {% nameofPlanets 'Neptune' 'Neptune' '30.06 AU' %}
</main>

