---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary <strong>Playing Cards</strong></h1>



<main>
	<div class="planet sun">
        <div class="sun"></div>
        <h2>Sun</h2>
        <p>G2V</p>
    </div>
    {% planet 'Mercury' 'Mercury' '0.39 AU' %}
    {% planet 'Venus' 'Venus' '0.72 AU' %}
    {% planet 'Earth' 'Earth' '1.00 AU' %}
    {% planet 'Mars' 'Mars' '1.52 AU' %}
    {% planet 'Jupiter' 'Jupiter' '5.20 AU' %}
    {% planet 'Saturn' 'Saturn' '9.54 AU' %}
    {% planet 'Uranus' 'Uranus' '19.22 AU' %}
    {% planet 'Neptune' 'Neptune' '30.06 AU' %}
</main>

